.header-search-wrapper.d-flex.align-items-center
	i.hc.hc-search.search-icon
	b-form-input.header-search(type="text", :placeholder="placeholder", autocomplete="off")
	b-btn.control(size="sm", type="button")
		icon-filters