scheme
	template(slot="left-column")
	template(slot="right-column")
		.col_wrapper
			.col_full
				board-user-profile

			.col_left
				board-user-gallery(v-if="status && status.gallery", :params="gallery")
				board-user-about(:text="aboutText")
				board-user-info-table(:params="sociumList", title="boards.titles.socium", local_key="boards.socium")
				board-user-info-table(:params="physiqueList", title="boards.titles.physique", local_key="boards.physique")
				board-user-info-table(:params="lifeStyleList", title="boards.titles.life_style", local_key="boards.life_style")
				board-user-info-table(:params="intimacyList", title="boards.titles.intimacy", local_key="boards.intimacy")

			.col_right
				board-widget-match-of-the-day(v-if="status && status.widgets && status.widgets.match_of_the_day")

			.clearfix