scheme
	template(slot="left-column")
	template(slot="right-column")
		.col_wrapper
			.col_full
				board-my-profile
		br
		.row
			.col-7
				.container-fluid(style="background: white;")
					br
					.row
						.col-3
							strong ID:
						.col-9 {{ $auth.user.id }}
					hr
					.row
						.col-3
							strong Url:
						.col-9 {{ !$auth.user.url ? 'id_'+$auth.user.id : $auth.user.url }}
					hr
					.row
						.col-3
							strong Name:
							br
						.col-9 {{ $auth.user.name }}
							br
					hr
					.row
						.col-3
							strong Email:
							br
						.col-9 {{ $auth.user.email }}
							br
					hr
					.row
						.col-3
							strong Created at:
							br
						.col-9 {{ $auth.user.created_at }}
							br
					br
		br
		br
		router-link(:to="{path: 'veronika_2018'}") Veronika
