.board.user-profile

	.avatar-col
		span.premium-icon(v-if="isPremium",
							id="diamond",
							@click="show_diamon_popup=!show_diamon_popup")
			i.hc.hc-diamond
				
		b-popover(target="diamond",
                  placement="bottomright",
                  :show.sync="show_diamon_popup")
			.diamond-tooltip Brilliant - аккаунт. Профиль с расширенными возможностями поиска и маскировки.
				.bottom-popover-line.text-right
					a Подробнее

		.avatar-wrapper
			img(v-lazy="avatar")

	.user-info-wrapper
		.row-board
			.user-name {{ fullName }}
				i.device.hc(v-if="deviceType", :class="'hc-' + deviceType")
			.btn-control-wrapper
				button.btn-icon-circle(type="button",
										v-b-tooltip.hover,
										title="Добавить в избранное")
					i.hc.hc-pluse
				button.btn-icon-circle(type="button",
										v-b-tooltip.hover,
										title="Редактировать профиль")
					i.hc.hc-notes
				button.btn-icon-circle(type="button", v-b-tooltip.hover, title="Меню")
					i.hc.hc-option-dots
		.row-board.user-first-info 
			span {{ age }} лет
			span {{ zodiac }}
			span {{ country + ', ' + city }}
		
		.row-board.user-preference(v-if="lookingFor")
			.key Я ищу:
			.value
				span(v-for="(item, index) in lookingFor", :key="index") {{ item }}

		.row-board.user-purposes(v-if="purposes")
			.tabs-list
				button.item-tab(v-for="(item, index) in purposes", :key="index", type="button") {{ item }}

		.row-board.user-actions.justify-content-between
			button(type="button").btn-link
				i.hc.hc-chat-edit
				span Cообщение
			button(type="button").btn-link
				i.hc.hc-exchange
				span Обмен фото
			button(type="button").btn-link
				i.hc.hc-two-hearts
				span Проявить симпатию