.board.user-profile

	.avatar-col
		//- Premium case
		span.premium-icon(v-if="selectUser && selectUser.isPremium",
							id="diamond",
							@click="show_diamon_popup=!show_diamon_popup")
			i.hc.hc-diamond
		//- Premium popover 
		b-popover(v-if="selectUser && selectUser.isPremium",
					target="diamond",
                 	placement="bottomright",
                 	:show.sync="show_diamon_popup")
			.diamond-tooltip {{ $t('info.premium') }}
				.bottom-popover-line.text-right
					a {{ $t('links.more') }}

		//- Avatar
		.avatar-wrapper
			img(v-lazy="avatar")

	.user-info-wrapper
		.row-board
			//- Name
			.user-name {{ fullName }}
				i.device.hc(v-if="selectUser && selectUser.deviceType", :class="'hc-' + selectUser.deviceType")
			//- Buttons
			.btn-control-wrapper(v-if="selectUser")

				//- Favorite
				favorite-btn(:id="selectUser.id", :status="selectUser.isFavorite")
				
				//- Edit profile

				//- Note
				note-btn(:id="selectUser.id")

				//- Menu
				b-dropdown.btn-icon-circle(right, no-caret, v-b-tooltip.hover, title="Меню", variant="link")
					template(slot="button-content")
						i.hc.hc-option-dots
					b-dropdown-item First Action
					b-dropdown-item First Action

		.row-board.user-first-info 
			span(v-if="selectUser && selectUser.age") {{ selectUser.age }} лет
			span(v-if="selectUser && selectUser.age") {{ selectUser.zodiac }}
			span {{ locale }}
		
		.row-board.user-preference
			.key(v-if="selectUser && selectUser.lookingFor") Я ищу:
			.value(v-if="selectUser && selectUser.lookingFor")
				span(v-for="(item, index) in selectUser.lookingFor", :key="index") {{ item }}

		.row-board.user-purposes
			.tabs-list(v-if="selectUser && selectUser.purposes")
				button.item-tab(v-for="(item, index) in selectUser.purposes", :key="index", type="button") {{ item }}

		//- Action buttons
		.row-board.user-actions.justify-content-between
			button(type="button").btn-link
				i.hc.hc-chat-edit
				span Cообщение
			button(type="button").btn-link
				i.hc.hc-exchange
				span Обмен фото
			button(type="button").btn-link
				i.hc.hc-two-hearts
				span Проявить симпатию