$icomoon-font-family: "HC" !default;
$icomoon-font-path: "~static/fonts/hc/" !default;

$hc-two-hearts-fill: "\e91c";
$hc-notes: "\e91d";
$hc-two-hearts: "\e91e";
$hc-exchange: "\e91f";
$hc-account: "\e900";
$hc-arr-right: "\e901";
$hc-arrow-down: "\e902";
$hc-calendar: "\e903";
$hc-chat: "\e904";
$hc-chat-edit: "\e905";
$hc-computer: "\e906";
$hc-config: "\e907";
$hc-crossed-out-heart: "\e908";
$hc-diamond: "\e909";
$hc-divan: "\e90a";
$hc-doc-edit: "\e90b";
$hc-dots-table: "\e90c";
$hc-filter-fill: "\e90d";
$hc-filters: "\e90e";
$hc-hearts: "\e90f";
$hc-info-circle: "\e910";
$hc-logout: "\e911";
$hc-mobile: "\e912";
$hc-option-dots: "\e913";
$hc-pictures: "\e914";
$hc-pluse: "\e915";
$hc-point: "\e916";
$hc-search: "\e917";
$hc-star: "\e918";
$hc-stars: "\e919";
$hc-update: "\e91a";
$hc-users: "\e91b";